html {
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #fcfcfc;
}

#nave{
    padding-left: 4em;
    
}
#mynavbar{
    padding-left: 15em;
}
.navbar-text{
    font-size: 2em;
    text-align: right;


}

.carousel-slide{
    position: relative;
   
}

.d-block{
    opacity: 0.7;
}

#contbsas{
    text-align: right;
    position: absolute;
    font-size: 1em;
    top: 35%;
    right: 10%;
    margin-left: 36%;

}


#oradores{
    padding: 0.8em;
}

.card-group{
    padding-left: 9em;

}
.card{
    margin-left: 2em;    
    padding-left: 0em;
    padding-right: 0em;
    align-items: center;
}
.card-img-top-fluid{
    width: 19em;
    height: 19em ;

}

#js1,#js2{
    color: black;
}
.badge{
    font-size: 0.5em;
    font-weight: bold;

}


.card-title{
    font-size: 1em;
}
.card-text{
    font-size: 0.7em;
    justify-content: left;
}

#donde{

    padding-top: 2em;
    padding-right: 0em;
    margin-right: 0em;
    margin-left: 0em;
    padding-left: 0em;
    color: #fcfcfc;

}
#honolulu{
    margin-right: 0em;
    padding-right: 0em;
}

#octubre{
    padding-top: 1.5em;
}

#convora{
    padding: 2em;
}

#footer{
    background-color: rgb(51, 102, 153);
    padding-top: 1em;
    font-size: 0.8em;
    text-align: center;
    color: #fcfcfc;

}


#ft2, #ft3, #ft4, #ft5, #ft6, #ft7{
    margin-right: 3em;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 0em;
    

}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="carousel slide"] {
      width: 100%;
    }
  }